registry=https://packages.aliyun.com/6497f4a8d2963c5649be7c62/npm/smc/
//packages.aliyun.com/6497f4a8d2963c5649be7c62/npm/smc/:_auth=NjhkMzk4NmY0NjYwMDcyOWZlMTRmMDRlOkU4b2R0b1BUSmY4XQ==
//packages.aliyun.com/6497f4a8d2963c5649be7c62/npm/SMC/:_auth=NjhkMzk4NmY0NjYwMDcyOWZlMTRmMDRlOkU4b2R0b1BUSmY4XQ==
public-hoist-pattern[]=lefthook
public-hoist-pattern[]=eslint
public-hoist-pattern[]=oxfmt
public-hoist-pattern[]=oxlint
public-hoist-pattern[]=stylelint
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=czg

strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependents=true
