registry=https://packages.aliyun.com/6497f4a8d2963c5649be7c62/npm/smc/
//packages.aliyun.com/6497f4a8d2963c5649be7c62/npm/smc/:_auth=Njk0ZGRkZTk4NmNmYmUwOTA3OGY3ZTVhOl1EZURwRHRMRVAxUw==
public-hoist-pattern[]=lefthook
public-hoist-pattern[]=eslint
public-hoist-pattern[]=oxfmt
public-hoist-pattern[]=oxlint
public-hoist-pattern[]=stylelint
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=czg

strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependents=true
