registry=https://packages.aliyun.com/6497f4a8d2963c5649be7c62/npm/smc/
//packages.aliyun.com/6497f4a8d2963c5649be7c62/npm/smc/:_auth=NjhkMzk4NmY0NjYwMDcyOWZlMTRmMDRlOkU4b2R0b1BUSmY4XQ==
//packages.aliyun.com/6497f4a8d2963c5649be7c62/npm/SMC/:_auth=NjhkMzk4NmY0NjYwMDcyOWZlMTRmMDRlOkU4b2R0b1BUSmY4XQ==

@jspm:registry=https://registry.npmjs.org
